@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-ibm-plex-mono);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  height: 100%;
}

.prose summary {
  user-select: none;
}

.prose summary p {
  display: inline-block;
  font-weight: 500;
  margin-left: 0.25rem;
}
